include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_demo *.txt
recursive-include erpnext_demo *.css
recursive-include erpnext_demo *.csv
recursive-include erpnext_demo *.html
recursive-include erpnext_demo *.ico
recursive-include erpnext_demo *.js
recursive-include erpnext_demo *.json
recursive-include erpnext_demo *.md
recursive-include erpnext_demo *.png
recursive-include erpnext_demo *.py
recursive-include erpnext_demo *.svg
recursive-include erpnext_demo/public *
recursive-exclude erpnext_demo *.pyc
